
/**
 * Gloabal scss file
 */

html, body, #react-app {
	height: 100%;
	font-family: 'sans-serif';
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}